.body {
    display: flex;
}

.action {
    width: 200px;
    height: 90vh;
    padding: 10px;
    border-right: 1px solid grey;
}

.info {
    flex: 1 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.token-appear {
     font-size: 14px;
     color: #333;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #f9f9f9;
     white-space: pre-wrap;
     word-wrap: break-word;
 }

.token-appear p {
    margin: 5px 0;
}
